.c-scrollup {
    position: fixed;
    right: 1rem;
    bottom: 5rem;
    background-color: var(--container-color);
    box-shadow: 0 4px 12px hsla(0, 0%, 20%, 0.1);
    display: inline-flex;
    padding: 0.25rem;
    z-index: var(--z-tooltip);
    transition: 0.4s;
    opacity: 0.8;

    bottom: -30%;

    &:hover {
        opacity: 1;
    }

    &__icon {
        font-size: 1.5rem;
        color: var(--first-color);
    }
    &.show-scroll {
        bottom: 3rem;
    }

    @include from(xxl) {
        right: 3rem;
    }
}
